.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ccdeff;
}

.main-content {
  flex: 1;
  padding-top: 80px;
}

.app-footer {
  background-color: #404ce8;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}